---
layout: default
page-class: homepage
title: Atelier Avenda
permalink: /
---

<article>

  <div class="wrapper border-bottom">
    <img src="{{"/img/avenda-burnell-walsh.jpg" | prepend: site.baseurl }}" alt="">
  </div>

  <div class="section margin-off container background-color--body wrapper">
    <header class="text-align--center h--styled">
      <h1 class="">{{ page.title }}</h1>
    </header>

    <div class="margin-auto width-copy">
      <p class="lede">
        A member of the Maison des Artistes, Avenda paints and illustrates from her Devon studio ... Atelier Avenda ... overlooking the sea at Teignmouth.
        Avenda’s work as an artist, an actor and a publisher allows her that ultimate luxury of a life by the sea.
      </p>
      <p>
        Following a study of drama, film and art,
        both at Exeter University and the University of California (Santa Barbara) she now has the Teign Estuary outside her studio balcony and the salt air blowing across her face.
      </p>

      <p>
        <a class="a--readmore" href="{{ "/about/" | prepend: site.baseurl }}">Read more about Avenda &rarr;</a>
      </p>
    </div>
  </div>

  <section class="section--lg border-bottom container text-align--center color--background-body">
    <div class="wrapper">
      <h2 class="margin-off">Arrange a rendez-vous!</h2>
      <div class="h3">
        Email <a class="a--alt fw-600" href="mailto:atelieravenda@gmail.com">atelieravenda@gmail.com</a>
      </div>
      <div class="text-align--center">
        …or call <a class="a--alt fw-600" href="tel:+441626775789">01626 775789</a>.
      </div>
    </div>
  </section>

  <aside class="section background-color--body">

    <div class="container wrapper">
      <header class="h--styled text-align--center">
        <h2 class="margin-off">Current work</h2>
        <p class="margin-off">
          You can see a small catalogue of my artwork in <a href="{{ "/portfolio" | prepend: site.baseurl }}">my portfolio</a>
        </p>
      </header>

      <div class="grid grid--padded">

        {% for post in site.portfolio %}
          {% unless post.archived %}
            {% if post.featured %}

              <div class="wow fadeInUp grid-item flex-even">
                {% include portfolio-intro.html %}
              </div>

            {% endif %}
          {% endunless %}
        {% endfor %}

      </div>



    </div>
  </aside>
</article>
