---
layout: category
title: Portfolio
permalink: /portfolio/
---

<div class="grid margin-off" itemprop="articleBody">
  More 

{% for post in site.portfolio %}
  {% unless post.archived %}
    {% if post.featured %}
    <div class="grid-item md--flex-even">
      {% include portfolio-intro.html %}
    </div>
    {% endif %}
  {% endunless %}
{% endfor %}
  
  <img src="/media/Anne_of_Cleves.jpg" alt="Anne of Cleves" imgsize="50%/>
  <img src="/img/Anna_Meyer.jpg" alt="Anna Meyer"/>                                                                  
                                                                     
                                                                     
 <img src="/img/god_counts_the_tears.jpg" alt="God Counts The Tears"/>                                                                   

{% for post in site.work %}
  {% unless post.archived %}
    {% unless post.featured %}
    <div class="grid-item md--flex-even wow fadeInUp">
      {% include portfolio-intro.html %}
    </div>
    {% endunless %}
  {% endunless %}
{% endfor %}

</div>
