
<article class="bg-color--quaternary" id="{{ post.title | downcase | replace:' ','-' | replace:',','' | strip_html }}">

  <img class="img--cover" src="{{ post.intro-image }}" alt="{{ post.title }} intro image">

  <div class="margin-off">
    <div class="container">

      <h2 {% if post.featured %}class="margin-off"{% endif %} itemprop="name headline">
        {{ post.title }}
      </h2>

      <p  itemprop="description">
        {{ post.excerpt }}
      </p>

    </div>
  </div>

</article>
