
<article class="bg-color--quaternary" id="{{ post.title | downcase | replace:' ','-' | replace:',','' | strip_html }}">

  <a class="a--h" href="{{ post.url | prepend: site.baseurl }}">
    <img class="img--cover" src="{{ post.intro-image }}" alt="{{ post.title }} intro image">
  </a>

  <div class="margin-off">
    <div class="container">

      <h2 itemprop="name headline">
        {{ post.title }}
      </h2>

      <p  itemprop="description">
        {{ post.excerpt }}
      </p>

    </div>
  </div>

</article>
